* {
  box-sizing: border-box;
  margin: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.grid-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.h2 {
  display: flex;
  grid-row: 1;
  grid-column: 1 / span 12;
  font-weight: bold;
  font-size: 24px;
  justify-content: center;
  color: rgb(27, 68, 127);
}
h3 {
  font-weight: bold;
  font-size: 17px;
}

/*------Header container------*/
.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 1 / 2 / 1 / span 10;
  background-color: rgb(3, 162, 223);
  padding: 1rem;
}
.menu {
  display: flex;
  grid-area: 1 / 1 / 1 / 6;
  list-style: none;
  justify-content: space-evenly;
  align-items: flex-end;
  color: white;
  margin: 0px;
  padding-left: 0px;
  font-weight: 700;
}
.header-image {
  grid-area: 1 / 12 / 1 / 12;
  padding-bottom: 1rem;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover,
a:focus {
  color: rgb(235, 0, 0);
}

/*------Main container------*/
.main-content {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-area: 2 / 2 / 5 / span 10;
}
.main-content-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 2 / 2 / 5 / span 10;
  gap: 2rem;
}
.side-bar-left {
  grid-column: span 3;
  background-color: rgba(255, 255, 255, 0);
  border: 1px black solid;
  margin: 0px;
}
.side-bar-right {
  grid-column: span 3;
  background-color: rgba(255, 255, 255, 0);
  border: 1px black solid;
  margin: 0px;
}
article {
  line-height: 1.5;
}
.article-center {
  grid-area: 2 / 1 / 6 / 5;
}
.article-center-2 {
  grid-area: 7 / 1 / 12 / 12;
}
.article-left {
  grid-column: span 9;
}
.article-right {
  grid-column: 4 / 13;
}
.image-right {
  grid-area: 2 / 5 / 6 / 13;
}

/*---- Instructors page ----*/
.instructor-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 2 / 2 / auto / span 10;
}
.instructor-intro {
  grid-area: 1 / 1 / 1 / span 12;
}
.side-text {
  grid-area: 1 / 11 / 3 / -1;
  width: 100%;
  height: 100%;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 700;
  font-size: 1.5rem;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 2 / 1 / auto / span 12;
}
.card-background {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 5;
  color: rgb(3, 163, 223);
  background-color: rgb(27, 68, 127);
  border: 1px solid black;
}
.instructor-border {
  padding-left: 1rem;
}
.instructor-image {
  padding: 1rem 0;
}
.card-text {
  grid-area: 1 / 2 / 1 / -1;
  padding-left: 0.75rem;
  padding-bottom: 0.75rem;
}
.instructor-name {
  font-size: 1.5rem;
  color: rgb(236, 183, 34);
}
.instructor-h3 {
  color: rgb(236, 183, 34);
}
.instructor-quote {
  font-family: Arial, Helvetica, sans-serif;
  color: #03a3df;
}

/*---- Classes offered ----*/
.calendar {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.calendar-text {
  display: grid;
  grid-area: 2 / 2 / 2 / 2;
  align-items: center;
  justify-content: center;
}
.register {
  grid-row: 4;
  grid-column: 2;
}

/*---- Figures ----*/
.figure-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 2 / span 10;
  row-gap: 1rem;
}
.figure-1 {
  grid-column: span 2;
}
.figure-2 {
  grid-column: span 2;
}
.figure-3 {
  grid-column: span 2;
}
.figure-4 {
  grid-column: span 2;
}
.video {
  grid-column: span 2;
}

/*------Footer------*/
.footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 2 / span 10;
}
.footer {
  grid-area: 1 / 1 / span 12 / span 12;
}
.footer-background {
  grid-area: 1 / 1 / span 12 / span 12;
  border: 1px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
}
.logo-white {
  grid-area: 3 / 2 / 3 / 3;
}
.footer-flex {
  display: flex;
}
.address {
  grid-area: 9 / 12 / 12 / 12;
  color: rgb(255, 255, 255);
}
.policy {
  grid-area: 11 / 1 / 12 / span 12;
  font-size: 0.75rem;
  padding-left: 10px;
  color: white;
}

/*------Media Queries------*/
@media screen and (min-width: 1px) and (max-width: 767px) {
  .grid-main,
  .header-container,
  .instructor-section {
    grid-template-columns: 1fr;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .header-image {
    padding-left: 1rem;
  }
  .instructor-section {
    row-gap: 0.5rem;
  }
  .menu {
    flex-wrap: wrap;
  }
  .instructor-intro {
    grid-area: auto;
  }
  .card-grid {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .side-text {
    display: none;
  }
  .card-background {
    display: flex;
    flex-direction: column;
    color: rgb(3, 163, 223);
    background-color: rgb(255, 255, 255);
    border: 0;
  }
  .instructor-name {
    border-bottom: 0.25rem solid rgb(27, 68, 127);
  }
  .instructor-border {
    border-top: 1rem solid rgb(27, 68, 127);
  }
  .card-text {
    padding-left: 0;
    padding-bottom: 0;
  }
  .h2 {
    display: flex;
    grid-row: 1;
    grid-column: 1 / -1;
    justify-content: center;
  }
  .policy {
    grid-area: 12 / 1 / 12 / span 12;
    font-size: 0.5rem;
    padding-left: 10px;
    color: white;
  }
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .header-image {
    padding-bottom: 2.5rem;
  }
  .menu {
    grid-column: 1 / -1;
  }
  .side-text {
    display: none;
  }
  .card-grid {
    display: grid;
    gap: 0;
  }
  .card-background {
    display: flex;
    flex-direction: column;
    grid-column: span 6;
    color: rgb(3, 163, 223);
    background-color: rgb(255, 255, 255);
    border: 0;
  }
  .instructor-bow {
    display: none;
  }
  .instructor-name {
    border-bottom: 0.25rem solid rgb(27, 68, 127);
  }
  .instructor-border {
    border-top: 1rem solid rgb(27, 68, 127);
  }
  .card-text {
    padding-left: 0;
    padding-bottom: 0;
  }
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 64.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/*---- Save for more wire framing ----*/

/* [class|='image-wire'] {
  border: 1px solid black;
} */
